<h1><%= @user.username %></h1>


<% if @user.messages.any? %>
  <h3>Here's <%= @user.username %>'s recent messages:</h3>
  <div class=messages>
    <% @user.messages.each do |message| %>
      <div class="message">
        <%="Written to <a href='/characters/#{message.character.id}'>#{message.character.name}</a>: #{message.content}" %>
      </div>
    <% end %>
  </div>
<% else %>
  <h3><%= @user.username %> hasn't written any messages yet!</h3>
<% end %>
