<h1><%= @user.username %></h1>

<h3>Here's <%= @user.username %>'s recent messages.</h3>

<div class=messages>
<% @user.messages.each do |message| %>
  <div class="message"><%="Written to #{message.character.name}: #{message.content}" %></div>
<% end %>
</div>
