<h1>Add a New Character</h1>

<form action="/characters" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="character[name]"><br>
  <label for="birthday">Birthday:</label><br>
  <input type="text" id="birthday" name="character[birthday]"><br>
  <label for="img">Image:</label><br>
  <input type="text" id="img" name="character[img]"><br>
  <label for="occupation">Occupation:</label><br>
  <input type="text" id="occupation" name="character[occupation]"><br>
  <label for="status">Status:</label><br>
  <input type="text" id="status" name="character[status]"><br>
  <label for="actor">Actor:</label><br>
  <input type="text" id="actor" name="character[actor]"><br>
  <label for="nickname">Nickname:</label><br>
  <input type="text" id="nickname" name="character[nickname]"><br>
  <input type="submit" value="Create a new character">
</form>
