<!DOCTYPE html>
<html>
  <head>
    <title>Breaking Buddies</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <nav>
      <a href="/characters">See all characters!</a> |
      <a href="/characters/new">Add a character!</a>
    </nav>
    <%= yield %>
  </body>
</html>
